* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bitcoin-orange: #f7931A;
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

header {
    margin-top: 50px;
    width: 300px;
    text-align: center;

}
.principal {
    color: var(--Grayish-Blue);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 0 30px 0;
}
h1 {
    color: var(--Very-Dark-Blue);
    font-size: 1.9rem;
    font-weight: 200;
}
h2 {
    color: var(--Very-Dark-Blue);
    font-size: 1.9rem;
}
.cards_container {
    width: 300px;
    height: 850px;
    margin: 20px 0 50px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.card1  {
    box-shadow: 0 5px 20px 0 var(--Grayish-Blue);
    display: flex;
    flex-direction: column;
    border-top: 3px solid var(--Cyan);
    border-radius: 5px;
    width: 300px;
    height: 200px;
}.card2 {
    box-shadow: 0 5px 20px 0 var(--Grayish-Blue);
    display: flex;
    flex-direction: column;
    border-top: 3px solid var(--Red);
    border-radius: 5px;
    width: 300px;
    height: 200px;
}
.card3 {
    box-shadow: 0 5px 20px 0 var(--Grayish-Blue);
    display: flex;
    display: flex;
    flex-direction: column;
    border-top: 3px solid var(--Orange);
    border-radius: 5px;
    width: 300px;
    height: 200px;
}
.card4 {
    box-shadow: 0 5px 20px 0 var(--Grayish-Blue);
    display: flex;
    display: flex;
    flex-direction: column;
    border-top: 3px solid var(--Blue);
    border-radius: 5px;
    width: 300px;
    height: 200px;
}


.tittlecard {
    color: var(--Very-Dark-Blue);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 0 0 15px;
}
.description {
    margin-left: 15px;
    font-size: 1.3rem;
    line-height: 2;
    color: var(--Grayish-Blue);
}

.logo-lupa {
    margin: 40px 15px 0 0;
    align-self: flex-end;
    width: 40px;
    height: 40px;
}
.logo-casa {
    margin: 30px 15px 0 0;
    align-self: flex-end;
    width: 40px;
    height: 40px;
}
.logo-foco {
    margin: 30px 15px 0 0;
    align-self: flex-end;
    width: 40px;
    height: 40px;
}
.logo-calc {
    margin: 40px 15px 0 0;
    align-self: flex-end;
    width: 40px;
    height: 40px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }